@font-face {
  font-family: fontGameXucXac;
  src: url("../../assets/fonts/Pony.ttf");
}

.bgGameXucXac {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../assets/img/bgGame.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  font-family: fontGameXucXac;
}

.ketQua {
  background-image: radial-gradient(closest-corner, rgba(0,0,0,0.95), rgba(255,0,0,0.95) 60%);
  color: transparent;
  background-clip: text;
}
